<div 
	style="background-color: lightgreen"
>
	<h2>
		Go To <a href="/">Home</a>
	</h2>
</div>

<div
	style="background-color: lightgreen"
>

<!--
The branch of Company {{branch.company}}
at {{branch.address}}
has {{branch.userprofile_set.count}} number of people working
with and Area of {{branch.area}} Square Meters.
With the minimum distance to be maintained at {{min_dist}},
The Max Number of People this Company Branch can handle is {{handle}}
-->

	<div>
		<b>
			Area of the Company {{branch.company.name}} at {{branch.address}} in Square-Meters? 
			<i 
				style="background-color: yellow"
			>
				{{branch.area}} 
			</i>
			Square-Meters
		</b>
		<br />
		<br />
		<b>
		Number of People currently working?
			<i 
				style="background-color: yellow"
			>
		{{branch.userprofile_set.count}}
			</i>
		</b>
		<br />
		<br />
		<b>
			Minimum Distance to be Maintained from Each Other?
			<i 
				style="background-color: yellow"
			>
			{{min_dist}} 
			Meters
			</i>
		</b>
		<br />
		<br />
		<b>
			According to the algorithm in an Area of 
			<i 
				style="background-color: yellow"
			>
			{{branch.area}} 
			</i>
			SqMeters, 
			<br />
			<br />
			The Max number of people working simultaneously can be: At Max 
			<i 
				style="background-color: yellow"
			>
				{{handle}}
			</i> 
			People. 
			<br />
			<br />
			Who have the best probablity, to always be 
			<i 
				style="background-color: yellow"
			>
			{{min_dist}} 
			</i>
			Meters apart from Each Other.
		<br />
		</b>
		<h3>
			Conclusion: 
		</h3>
		<b>

			So only 
			<i 
				style="background-color: yellow"
			>
				{{handle}}
			</i> 
			can be selected At Max to come out of their homes to work in this office, 
			<br />
			whether they are Labour worker in this company, IT, Management or any other.
		</b>
	</div>
	<br />
	<h4>
		This is a demonstration of areas at modest levels.
		<br />
		In this same manner, these Algorithms can scale and be applied to any Place/Space/Area/Locality/Street/City at larger levels.
		<br />
		For eg. If there is a DMart store in Borivali, which has "x" SqMeter area, we can figure out, 
		<br />
		What should be the max Number of People who can be inside the Store simutaneously at the same time.
		<br />
		Same goes for larger places like Street/Locality/City etc. 
		<br />
		<h1>
			Features:
		</h1>
				More feature that can be added: 
				There can be a lot more things that can be done with this software that we can explain to you
		<ul>
			<li>
				Instead of Random selection of people, rather Select only those people to come out, who are really In Need.
			</li>
			<li>
				People who have IT or ITES or other such Company/JobType, can be given lower priority than People who work in 
				a company dealing with Manual Labour
			</li>
			<li>
				There can be a request/emergency form, where people can place a request that they really need 
				to come out of house for some important work, and the system can consider those people.
			</li>
		</ul>


</div>
